{% extends "__base.html" %}
{% load static %}
{% block navbar-top %}
<nav class="navbar-top">
    <img src="{% static 'img/menu-bar.png' %}" class="menu" alt="menu">
    <div class="nav-center">
        <div class="toogle">
            <a href="{% url 'main:index' %}"><img src="{% static 'img/home.svg' %}" alt="home"></a>
            <img src="{% static 'img/line.png' %}" alt="line">
            <a href="{% url 'main:index' %}">Asosiy</a>
            <img src="{% static 'img/line.png' %}" alt="line">
            <a href="{% url 'main:table' %}">Xodimlar</a>

        </div>

        <div class="box-user">
            <img src="{% static 'img/user.svg' %}" alt="user">
            <span>|</span>
            <p>{{ user.full_name }}</p>
        </div>
    </div>
</nav>
{% endblock navbar-top %}
{% block content %}

<div class="modal {% if not messages %}fade{% endif %}" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-custom-dark text-light">
            <form method="post" id="id_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fayl yulash</h5>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="custom-file   border border-white">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="uploaded_file" required>
                            <label class="custom-file-label" for="inputGroupFile01">Fayl tanlash</label>
                        </div>
                    </div>
                    {% if file_error %}
                    <div class="alert">{{ file_error }}</div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="submit">Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="ms-auto">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success green">Fayl yuklash</a>
        <a href="?export=true" class="btn btn-outline-primary search-btn">Excelga yuklash</a>
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>IMEI</th>
            <th>Operator</th>
            <th>Telefon raqami</th>
            <th>Boshlanish sanasi</th>
            <th>Tugash sanasi</th>
            {% comment %} <th>O'chirish</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% for device in found_devices %}
        <tr class="{% if device.is_viewed %} text-secondary {% endif %}">
            <td>{{ forloop.counter }}</td>                
            <td><a href="{% url 'main:found' device.pk %}" class="device-pk">{{ device.imei.imei }}</a></td>
            <td>{{ device.operator }}</td>
            <td>{{ device.phone_number }}</td>
            <td>{{ device.active_started }}</td>
            <td>{{ device.active_finished }}</td>
            {% comment %} <td>
                <a href="{% url 'main:delete_found_device' device.pk %}" class="btn btn-outline-danger red" onclick="return confirm('Ushbu qurilmani malumotini o‘chirishni xohlaysizmi?');">Delete</a>
            </td> {% endcomment %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Ma'lumot topilmadi</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>




{% endblock content %}
{% block js %}
document.addEventListener('DOMContentLoaded', function () {
const modalElement = document.getElementById('exampleModal');
const bootstrapModal = new bootstrap.Modal(modalElement);

if (
modalElement &&
(modalElement.querySelector('.alert') || modalElement.querySelector('.text-danger'))
) {
bootstrapModal.show();
}

const formElement = document.getElementById('id_form');

if (formElement) {
modalElement.addEventListener('hidden.bs.modal', function () {

var loc = window.location;
window.location = loc.protocol + '//' + loc.host + loc.pathname + loc.search;
});
}
});
{% endblock js %}