{% extends "__base.html" %}
{% load static %}
{% block navbar-top %}
<nav class="navbar-top">
    <img src="{% static 'img/menu-bar.png' %}" class="menu" alt="menu">
    <div class="nav-center">
        <div class="toogle">
            <a href="{% url 'main:index' %}"><img src="{% static 'img/home.svg' %}" alt="home"></a>
            <img src="{% static 'img/line.png' %}" alt="line">
            <a href="{% url 'main:index' %}">Asosiy</a>
            <img src="{% static 'img/line.png' %}" alt="line">
            <a href="{% url 'main:table' %}">Xodimlar</a>

        </div>

        <div class="box-user">
            <img src="{% static 'img/user.svg' %}" alt="user">
            <span>|</span>
            <p>{{ user.full_name }}</p>
        </div>
    </div>
</nav>
{% endblock navbar-top %}
{% block content %}

<h2>Qurilma Batafsil</h2>
<div class="container mt-5">
    <table class="table table-bordered">
        <tr>
            <th>IMEI</th>
            <td>{{ device.imei.imei }}</td>
        </tr>
        <tr>
            <th>Boshlanish sanasi</th>
            <td>{{ device.active_started }}</td>
        </tr>
        <tr>
            <th>Tugash sanasi</th>
            <td>{{ device.active_finished }}</td>
        </tr>
        <tr>
            <th>Operator</th>
            <td>{{ device.operator }}</td>
        </tr>
        <tr>
            <th>Telefon raqami</th>
            <td>{{ device.phone_number }}</td>
        </tr>
        <tr>
            <th>Ko'rilganmi?</th>
            <td>{{ device.is_viewed|yesno:"Ha,Yo'q" }}</td>
        </tr>
    </table>
    <a href="{% url 'main:founds' %}" class="btn btn-primary blue">Orqaga</a>
    
</div>
{% endblock content %}
{% block js %}
document.addEventListener('DOMContentLoaded', function () {
const modalElement = document.getElementById('exampleModal');
const bootstrapModal = new bootstrap.Modal(modalElement);

if (
modalElement &&
(modalElement.querySelector('.alert') || modalElement.querySelector('.text-danger'))
) {
bootstrapModal.show();
}

const formElement = document.getElementById('id_form');

if (formElement) {
modalElement.addEventListener('hidden.bs.modal', function () {

var loc = window.location;
window.location = loc.protocol + '//' + loc.host + loc.pathname + loc.search;
});
}
});
{% endblock js %}